body{
  background-color: rgb(254, 221, 38);
  padding-top: 170px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 420px) {
  .body {
    margin-left: 0px;
    margin-right: 0px;
  }
  }