

.about-me {
  background-color: white;
  border-style: dashed;
  border-width: 5px;
  border-radius: 3px;
  font-size: 70px;
  padding-left: 15px;
  padding-top: 40px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  max-width: 230px;
  
}

.myself-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}











.myself {
  max-width: 650px;
  background-color: white;
  border-style: solid;
  display: grid;
  grid-template-columns: 200px 1fr;
  border-width: 5px;
  border-radius: 3px;
}


.display-1 {
  max-width: 650px;
  background-color: white;
  border-style: solid;
  display: grid;
  grid-template-columns: 150px 1fr;
  border-width: 3px;
  border-radius: 3px;
}

.display-2 {
  max-width: 650px;
  background-color: white;
  border-style: solid;
  display: grid;
  grid-template-columns: 100px 1fr;
  border-width: 3px;
  border-radius: 3px;
}

.display-3 {
  max-width: 650px;
  background-color: white;
  border-style: solid;
  display: grid;
  grid-template-columns: 50px 1fr;
  border-width: 3px;
  border-radius: 3px;
}













.image {
  border-style: solid;
  border-width: 5px;
  border-left: 0px;
  border-top:0px;
  border-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.text {
  font-size: 18px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 5px;
  border-style: solid;
  border-width: 5px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.text-dsc {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 3px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.text-self {
  font-size: 18px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 5px;
}

.right-align {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.left-align {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}





.color-box-RED {
  background-color: red;
  border-style: solid;
  border-color: white;
  border-width: 10px;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-box-BLUE {
  background-color: blue;
  border-style: solid;
  border-color: white;
  border-width: 10px;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-box-GREEN {
  background-color: green;
  border-style: solid;
  border-color: white;
  border-width: 10px;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-box-YELLOW {
  background-color: yellow;
  border-style: solid;
  border-color: white;
  border-width: 10px;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-box-PURPLE {
  background-color: purple;
  border-style: solid;
  border-color: white;
  border-width: 10px;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.color-box-ORANGE {
  background-color: orange;
  border-style: solid;
  border-color: white;
  border-width: 10px;

  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}