

.disappear {
  background-color: blue;
  width: 2000px;
  height: 100px;
  margin-top: -200px;
  margin-bottom: 50px;
}

.header-container {
  position:fixed;
  top:0px;
  left: 0px;
  right:0px;
}

.header-top {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 15px;
}

.header-title-box {
  background-color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 35px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-left: 0px;
  border-right: 0px;
}

.header-title {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding-top: 8px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 35px;
  border-style: solid;
  border-width: 3px;
  border-top: 0px;
  border-bottom: 0px;
}

.header-middle {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 15px;
}

.header-bottom-l {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}


.header-links {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-bottom: 0px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-links-1 {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-links-5 {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:bold;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.header-bottom {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 15px;
}

#red:hover{
  background-color: rgb(255, 29, 29);
  transition: .4s;
  text-decoration: underline;
}

#green:hover{
  background-color: rgb(0, 199, 0);
  transition: .4s;
  text-decoration: underline;
}

#blue:hover{
  background-color: #0088ff;
  transition: .4s;
  text-decoration: underline;
}

#purple:hover{
  background-color: rgb(158, 54, 255);
  transition: .4s;
  text-decoration: underline;
}

#orange:hover{
  background-color: rgb(255, 111, 0);
  transition: .4s;
  text-decoration: underline;
}

@media (max-width: 595px) {
  .header-bottom {
    display: none;
  }
  .header-links {
    display: none;
  }
  .header-links-1 {
    display: none;
  }
  .header-links-5 {
    display: none;
  }
  .header-bottom-l {
    display: none;
  }
}