

.tag-container {
  background-color:white;
  max-width: 500px;
  max-height: 550px; /* makes no difference */
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 200px 1fr;
}

 .thumbnail {
  border-style: solid;
  border-width: 2px;
  border-left: 0px;
  border-top:0px;
  border-bottom: 0px;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.paragraph {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  border-right: 0px;
  border-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-tag-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 85px;
  row-gap: 85px;
}

@media (max-width: 1590px) {
  .image-tag-grid {
    grid-template-columns: 1fr 1fr;
  }
  .tag-container{
    max-width: 600px;
  }
}

@media (max-width: 1005px) {
  .image-tag-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    row-gap: 85px;
  }
  .tag-container{
    max-width: 600px;
  }

}

@media (max-width: 965px) {
  .tag-container {
    grid-template-columns: 200px 2fr;
    max-width: 600px;
    margin: auto;
  }
  .image-tag-grid {
    grid-template-columns: 1fr;

  }
}

@media (max-width: 965px) {
  .image-tag-grid {
    row-gap: 55px;
  }
}

@media (max-width: 680px) {
  .image-tag-grid {
    row-gap: 30px;
  }
}

@media (max-width: 450px) {
  .paragraph {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 17px;
  }
}

@media (max-width: 420px) {
  .tag-container {
    grid-template-columns: 150px 2fr;
    max-width: 600px;
    margin: auto;
  }
}

@media (max-width: 347px) {
  .paragraph {
    font-size: 14px;
  }

}

@media (max-width: 420px) {
  .tag-container {
    grid-template-columns: 140px 2fr;
    max-width: 600px;
    margin: auto;
  }
}

@media (max-width: 398px) {
  .paragraph {
    font-size: 15px;
  }

}

@media (max-width: 363px) {
  .paragraph {
    font-size: 14px;
  }

}

@media (max-width: 325px) {
  .paragraph {
    font-size: 13px;
  }

}

@media (max-width: 314px) {
  .paragraph {
    font-size: 12px;
  }

}